<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/kh%C3%A1nh-d%C6%B0%C6%A1ng-9aab0021a/">
                        Đình Khánh
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kh%C3%A1nh-d%C6%B0%C6%A1ng-9aab0021a/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kh%C3%A1nh-d%C6%B0%C6%A1ng-9aab0021a/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kh%C3%A1nh-d%C6%B0%C6%A1ng-9aab0021a/">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.linkedin.com/in/kh%C3%A1nh-d%C6%B0%C6%A1ng-9aab0021a/" target="_blank">Đình Khánh</a> for a better web.
        </div>
    </div>
</footer>
